.table-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  overflow-x: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th {
  padding: 10px 8px 10px 15px;
  text-align: left;
  background: #4d5875;
  font-size: 18px;
  font-weight: 400;
}
.data-table td {
  font-size: 15px;
  font-weight: 300;
  padding: 15px 8px 15px 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  &:first-child {
    position: relative;
    padding-left: 25px;
    svg {
      position: absolute;
      left: 0px;
    }
  }
}

.data-table td:last-child {
  text-align: center;
}
.data-table tr:last-child {
  border-bottom: none;
}
.data-table tr:last-child td {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .table-container {
    grid-template-columns: 1fr;
  }

  .data-table th,
  .data-table td {
    padding: 8px 5px;
  }

  .data-table th,
  .data-table td {
    font-size: 14px;
  }

  .data-table tr {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 370px) {
  .data-table th,
  .data-table td {
    padding: 6px 4px;
  }

  .data-table th,
  .data-table td {
    font-size: 12px;
  }

  .data-table tr {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 300px) {
  .data-table th,
  .data-table td {
    padding: 4px 3px;
  }

  .data-table th,
  .data-table td {
    font-size: 10px;
  }

  .data-table tr {
    margin-bottom: 4px;
  }
}
